canvas { 
	background: #F5DFDA; 
}

#demo{
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	letter-spacing: 1.5px;
}

#cl{
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	letter-spacing: 1.5px;
}